In [12]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = "http://books.toscrape.com/"
response = requests.get(url)
allBooks = []

def get_star_rating(soup_tag):
  classes = soup_tag.get("class", [])
  ratings = ["One", "Two", "Three", "Four", "Five"]
  for rating in ratings:
    if rating in classes:
      return rating
    return "No Rating"

if response.status_code == 200:
    soup = BeautifulSoup(response.text, "html.parser")
    books = soup.find_all('article', class_='product_pod')
    for book in books:
        title = book.find('h3').find('a')["title"]
        price = book.find('p', class_='price_color').text
        availability = book.find("p", class_="instock availability").text.strip()
        star_rating = get_star_rating(book.find("p", class_="star-rating"))
        print(f"Title: {title}\nPrice: {price}\nAvailability: {availability}\nStar Rating: {star_rating}\n")
        allBooks.append({
          "Title": title,
          "Price": price,
          "Availability": availability,
          "Star Rating": star_rating
        })

df1 = pd.DataFrame(allBooks)
df1.to_csv("books.csv", index=False)

Title: A Light in the Attic
Price: Â£51.77
Availability: In stock
Star Rating: No Rating

Title: Tipping the Velvet
Price: Â£53.74
Availability: In stock
Star Rating: One

Title: Soumission
Price: Â£50.10
Availability: In stock
Star Rating: One

Title: Sharp Objects
Price: Â£47.82
Availability: In stock
Star Rating: No Rating

Title: Sapiens: A Brief History of Humankind
Price: Â£54.23
Availability: In stock
Star Rating: No Rating

Title: The Requiem Red
Price: Â£22.65
Availability: In stock
Star Rating: One

Title: The Dirty Little Secrets of Getting Your Dream Job
Price: Â£33.34
Availability: In stock
Star Rating: No Rating

Title: The Coming Woman: A Novel Based on the Life of the Infamous Feminist, Victoria Woodhull
Price: Â£17.93
Availability: In stock
Star Rating: No Rating

Title: The Boys in the Boat: Nine Americans and Their Epic Quest for Gold at the 1936 Berlin Olympics
Price: Â£22.60
Availability: In stock
Star Rating: No Rating

Title: The Black Maria
Price: Â£52.15
Availability: In stock
Star Rating: One

Title: Starving Hearts (Triangular Trade Trilogy, #1)
Price: Â£13.99
Availability: In stock
Star Rating: No Rating

Title: Shakespeare's Sonnets
Price: Â£20.66
Availability: In stock
Star Rating: No Rating

Title: Set Me Free
Price: Â£17.46
Availability: In stock
Star Rating: No Rating

Title: Scott Pilgrim's Precious Little Life (Scott Pilgrim #1)
Price: Â£52.29
Availability: In stock
Star Rating: No Rating

Title: Rip it Up and Start Again
Price: Â£35.02
Availability: In stock
Star Rating: No Rating

Title: Our Band Could Be Your Life: Scenes from the American Indie Underground, 1981-1991
Price: Â£57.25
Availability: In stock
Star Rating: No Rating

Title: Olio
Price: Â£23.88
Availability: In stock
Star Rating: One

Title: Mesaerion: The Best Science Fiction Stories 1800-1849
Price: Â£37.59
Availability: In stock
Star Rating: One

Title: Libertarianism for Beginners
Price: Â£51.33
Availability: In stock
Star Rating: No Rating

Title: It's Only the Himalayas
Price: Â£45.17
Availability: In stock
Star Rating: No Rating

In [39]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = "https://www.imdb.com/chart/top/"
response = requests.get(url, headers={"User-Agent": "Mozilla/5.0"})
allMovies = []

if response.status_code == 200:
    soup = BeautifulSoup(response.text, "html.parser")
    movies = soup.find_all('div', class_='dTHKNo')
    for movie in movies:
        title = movie.find('h3', class_='ipc-title__text').text
        year = movie.find('span', class_='cli-title-metadata-item').text
        rating = movie.find('span', class_='ipc-rating-star--rating').text
        print(f"Title: {title}\nYear: {year}\nIMDB Rating: {rating}\n")
        allMovies.append({
            "Movie Title": title,
            "Year of Release": year,
            "IMDB Rating": rating
        })

df2 = pd.DataFrame(allMovies)
df2.to_csv("imdb_top250.csv", index=False)

Title: 1. The Shawshank Redemption
Year: 1994
IMDB Rating: 9.3

Title: 2. The Godfather
Year: 1972
IMDB Rating: 9.2

Title: 3. The Dark Knight
Year: 2008
IMDB Rating: 9.1

Title: 4. The Godfather Part II
Year: 1974
IMDB Rating: 9.0

Title: 5. 12 Angry Men
Year: 1957
IMDB Rating: 9.0

Title: 6. The Lord of the Rings: The Return of the King
Year: 2003
IMDB Rating: 9.0

Title: 7. Schindler's List
Year: 1993
IMDB Rating: 9.0

Title: 8. Pulp Fiction
Year: 1994
IMDB Rating: 8.8

Title: 9. The Lord of the Rings: The Fellowship of the Ring
Year: 2001
IMDB Rating: 8.9

Title: 10. The Good, the Bad and the Ugly
Year: 1966
IMDB Rating: 8.8

Title: 11. Forrest Gump
Year: 1994
IMDB Rating: 8.8

Title: 12. The Lord of the Rings: The Two Towers
Year: 2002
IMDB Rating: 8.8

Title: 13. Fight Club
Year: 1999
IMDB Rating: 8.8

Title: 14. Inception
Year: 2010
IMDB Rating: 8.8

Title: 15. Star Wars: Episode V - The Empire Strikes Back
Year: 1980
IMDB Rating: 8.7

Title: 16. The Matrix
Year: 1999
IMDB Rating: 8.7

Title: 17. Goodfellas
Year: 1990
IMDB Rating: 8.7

Title: 18. Interstellar
Year: 2014
IMDB Rating: 8.7

Title: 19. One Flew Over the Cuckoo's Nest
Year: 1975
IMDB Rating: 8.7

Title: 20. Se7en
Year: 1995
IMDB Rating: 8.6

Title: 21. It's a Wonderful Life
Year: 1946
IMDB Rating: 8.6

Title: 22. The Silence of the Lambs
Year: 1991
IMDB Rating: 8.6

Title: 23. Seven Samurai
Year: 1954
IMDB Rating: 8.6

Title: 24. Saving Private Ryan
Year: 1998
IMDB Rating: 8.6

Title: 25. The Green Mile
Year: 1999
IMDB Rating: 8.6

In [82]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = "https://www.timeanddate.com/weather/"
response = requests.get(url, headers={"User-Agent": "Mozilla/5.0"})
allCities = []

if response.status_code == 200:
    soup = BeautifulSoup(response.text, "html.parser")
    table = soup.find("table", class_="zebra")
    rows = table.find_all("tr")

    for row in rows:
        city_tag = row.find("a")
        temp_tag = row.find("td", class_="rbi")
        condition_tag = row.find("td", class_="r").find("img") if row.find("td", class_="r") else None
        if not city_tag:
            continue

        city_name = city_tag.text.strip()
        temperature = temp_tag.text.strip() if temp_tag else "N/A"
        condition = condition_tag.get("title") if condition_tag else "N/A"

        print(f"City: {city_name}\nTemperature: {temperature}\nCondition: {condition}\n")
        allCities.append({
            "City Name": city_name,
            "Temperature": temperature,
            "Weather Condition": condition
        })

df3 = pd.DataFrame(allCities)
df3.to_csv("weather.csv", index=False)

City: Accra
Temperature: 81 °F
Condition: N/A

City: Addis Ababa
Temperature: 68 °F
Condition: N/A

City: Adelaide
Temperature: 61 °F
Condition: N/A

City: Algiers
Temperature: 78 °F
Condition: N/A

City: Almaty
Temperature: 82 °F
Condition: N/A

City: Amman
Temperature: 90 °F
Condition: N/A

City: Amsterdam
Temperature: 68 °F
Condition: N/A

City: Anadyr
Temperature: 45 °F
Condition: N/A

City: Anchorage
Temperature: 56 °F
Condition: N/A

City: Ankara
Temperature: 84 °F
Condition: N/A

City: Antananarivo
Temperature: 81 °F
Condition: N/A

City: Asuncion
Temperature: 54 °F
Condition: N/A

City: Athens
Temperature: 89 °F
Condition: N/A

City: Atlanta
Temperature: 67 °F
Condition: N/A

City: Auckland
Temperature: 55 °F
Condition: N/A

City: Bangkok
Temperature: 82 °F
Condition: N/A

City: Barcelona
Temperature: 77 °F
Condition: N/A

City: Beijing
Temperature: 71 °F
Condition: N/A

City: Beirut
Temperature: 84 °F
Condition: N/A

City: Belgrade
Temperature: 86 °F
Condition: N/A

City: Bengaluru
Temperature: 81 °F
Condition: N/A

City: Berlin
Temperature: 66 °F
Condition: N/A

City: Bogota
Temperature: 52 °F
Condition: N/A

City: Boston
Temperature: 65 °F
Condition: N/A

City: Brasilia
Temperature: 63 °F
Condition: N/A

City: Brisbane
Temperature: 68 °F
Condition: N/A

City: Brussels
Temperature: 64 °F
Condition: N/A

City: Bucharest
Temperature: 84 °F
Condition: N/A

City: Budapest
Temperature: 88 °F
Condition: N/A

City: Buenos Aires
Temperature: 43 °F
Condition: N/A

City: Cairo
Temperature: 90 °F
Condition: N/A

City: Calgary
Temperature: 41 °F
Condition: N/A

City: Canberra
Temperature: 46 °F
Condition: N/A

City: Cape Town
Temperature: 64 °F
Condition: N/A

City: Caracas
Temperature: 77 °F
Condition: N/A

City: Casablanca
Temperature: 77 °F
Condition: N/A

City: Chicago
Temperature: 63 °F
Condition: N/A

City: Copenhagen
Temperature: 61 °F
Condition: N/A

City: Dallas
Temperature: 84 °F
Condition: N/A

City: Dar es Salaam
Temperature: 86 °F
Condition: N/A

City: Darwin
Temperature: 82 °F
Condition: N/A

City: Denver
Temperature: 58 °F
Condition: N/A

City: Detroit
Temperature: 56 °F
Condition: N/A

City: Dhaka
Temperature: 95 °F
Condition: N/A

City: Doha
Temperature: 108 °F
Condition: N/A

City: Dubai
Temperature: 104 °F
Condition: N/A

City: Dublin
Temperature: 57 °F
Condition: N/A